.Grammar {
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.input-box {
    width: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.input-box textarea {
    height: 200px;
    padding: 1rem;
    font-size: large;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    margin-left: 20px;
    border: none;
    background-color: #555;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: #777;
}

.output-box {
    width: 50%;
    padding: 1rem;
}

.output-box h3 {
    margin-top: 0;
}

.output {
    height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Media Query for smaller screens */
@media (max-width: 1300px) {
    .box-container {
        flex-direction: column;
    }

    .input-box {
        width: 350px;
    }

    .output-box {
        width: 100%;
    }
}